table.calendar {
    margin-bottom: 0;
    background-color: #FFFFFF;
}

td.has-events {
    position: relative;
}

a.delete {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 10px;
    color: white;
    text-decoration: none;
}

td.has-events:hover a.delete {
    display: block;
}

table.calendar > thead > tr > th {
    text-align: center;
}

table.calendar > tbody > tr > td {
    height: 20px;
}

table.calendar > tbody > tr > td > div {
    height: 40px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

table.calendar > tbody > tr > td.has-events {
    color: white;
    cursor: pointer;
    padding: 0;
    border-radius: 4px;
}

td.no-events:hover {
    background-color: #E7FCE7;
}

table.calendar > tbody > tr > td.has-events > div {
    background-color: #00CF00;
    border-left: 1px solid white;
}

table.calendar > tbody > tr > td.has-events > div:first-child {
    border-left: 0;
    margin-left: 1px;
}

table.calendar > tbody > tr > td.has-events > div.practice {
    opacity: 0.7;
}

table.calendar > tbody > tr > td.has-events > div > span {
    display: block;
    text-align: center;
}

table.calendar > tbody > tr > td.has-events > div > span a {
    color: white;
}

table.calendar > tbody > tr > td.has-events > div > span.title {
    font-weight: bold;
}

table.table-borderless > thead > tr > th, table.table-borderless > tbody > tr > td {
    border: 0;
}

.table tbody tr.hover td, .table tbody tr.hover th {
    background-color: whiteSmoke;
}

.messagepop {
    background-color: #FFFFFF;
    cursor: default;
    display: none;
    position: absolute;
    text-align: left;
}

.messagepop p, .messagepop.div {
}

dialog {
    width: 500px;
    background: #e8e8e8;
    border: 1px solid #dadada;
    margin-top: 200px;
    font-family: sans-serif;
    padding: 5px 10px 20px 20px;
    z-index: 1002;
}

#disablingDiv {
    display: none;
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: limegreen;
    opacity: .4;
    filter: alpha(opacity=40);
}