<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>TODO</title>
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
</head>

<body style="padding: 20px">

	<script type="text/javascript">
		var app = angular.module('taskList', []);

		var TASK_STATE = {
			DONE : "Done",
			IN_PROGRESS : "In progress",
			TO_DO : "To do",
			NONE : ""
		};
		var mockData = [ createTask("Sth to Do1", TASK_STATE.IN_PROGRESS),
				createTask("Sth to Do2", TASK_STATE.TO_DO) ];

		function resolveType() {
			switch (this.type) {
			case TASK_STATE.DONE:
				return 'btn btn-success dropdown-toggle';
			case TASK_STATE.IN_PROGRESS:
				return 'btn btn-warning dropdown-toggle';
			case TASK_STATE.TO_DO:
				return 'btn btn-danger dropdown-toggle';
			default:
				return 'btn btn-default dropdown-toggle';
			}
		}
		function createTask(text, type) {
			var task = new Object();
			task.text = text;
			task.type = type;
			task.resolveType = resolveType;
			return task;
		}

		app.controller('taskListController', function($scope) {
			$scope.taskCount = "3";
			$scope.mockData = mockData;
			$scope.createTask = createTask;
			$scope.TASK_STATE = TASK_STATE;
			$scope.taskFilter = TASK_STATE.NONE;
		});
	</script>

	<div ng-app="taskList" ng-controller="taskListController">
		<h2>
			You've got <strong ng-bind="taskCount"></strong> things to do
		</h2>

		<div>
			Show
			<div class="btn-group" role="group">
				<button id="filterTodo" type="button" class="btn btn-danger"
					ng-click="taskFilter.type=TASK_STATE.TO_DO">To do</button>
				<button id="filterInprogress" type="button" class="btn btn-warning"
					ng-click="taskFilter.type=TASK_STATE.IN_PROGRESS">In
					progress</button>
				<button id="filterDone" type="button" class="btn btn-success"
					ng-click="taskFilter.type=TASK_STATE.DONE">Done</button>
				<button id="filterDone" type="button" class="btn btn-default"
					ng-click="taskFilter.type=TASK_STATE.NONE">None</button>
			</div>
		</div>
		<div ng-app="" ng-init="mockData">
			<ul class="list-group">
				<li class="list-group-item clearfix"
					ng-repeat="task in mockData | filter:taskFilter"><span>{{task.text}}</span>
					<div class="btn-group pull-right" role="group">
						<button type="button" class="{{task.resolveType()}}"
							data-toggle="dropdown" aria-expanded="false">
							{{task.type}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">

							<li ng-click="task.type=TASK_STATE.TO_DO"><a href="#">To
									do</a></li>
							<li ng-click="task.type=TASK_STATE.IN_PROGRESS"><a href="#">In
									progress</a></li>
							<li ng-click="task.type=TASK_STATE.DONE"><a href="#">Done</a></li>
						</ul>
					</div></li>

			</ul>
		</div>
		<div class="input-group">
			<input type="text" class="form-control" ng-model="newTaskText"
				placeholder="Write your todo task here..." /> <span
				class="input-group-btn">
				<button class="btn btn-default" type="button"
					ng-click="mockData.push(createTask(newTaskText,TASK_STATE.TO_DO))">
					Add</button>
			</span>
		</div>
	</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
